<form id="form" role="form">
  <div class="form-group row">
    <div class="col-xs-3 col-sm-3 col-lg-3"></div>
    <div class="col-xs-2 col-sm-2 col-lg-2">
        <input type="hidden" id="X" name="X" value=""/>
        <label id="labelX" for="X">X</label>
      <div class="radio">
        <div class="custom-control custom-radio">
          <input type="radio" name="xGroup" (change)="onXSelect(-2)">
          <label class="custom-control-label label">-2</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(-1.5)">
            <label class="custom-control-label label">-1.5</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(-1)">
            <label class="custom-control-label label">-1</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(-0.5)">
            <label class="custom-control-label label">-0.5</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(0)">
            <label class="custom-control-label label">0</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(0.5)">
            <label class="custom-control-label label">0.5</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(1)">
            <label class="custom-control-label label">1</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(1.5)">
            <label class="custom-control-label label">1.5</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="xGroup" (change)="onXSelect(2)">
            <label class="custom-control-label label">2</label>
        </div>
      </div>
    </div>

    <div class="col-xs-2 col-sm-2 col-lg-2">
      <div class = "form-group">
        <label id="labelY" for="Y">Y</label>
        <input id="Y" type="text" class="form-control" name="Y" placeholder="[-5, 5]"/>
      </div>
    </div>

    <div class = "col-xs-2 col-sm-2 col-lg-2" >
      <input type="hidden" id="R" name="R" value=""/>
      <label id="labelR" for="R">R</label><br>
      <div class="radio">
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(-2)">
          <label class="custom-control-label label">-2</label>
          </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(-1.5)">
          <label class="custom-control-label label">-1.5</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(-1)">
          <label class="custom-control-label label">-1</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(-0.5)">
          <label class="custom-control-label label">-0.5</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(0)">
          <label class="custom-control-label label">0</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(0.5)">
          <label class="custom-control-label label">0.5</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(1)">
          <label class="custom-control-label label">1</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(1.5)">
          <label class="custom-control-label label">1.5</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" name="rGroup" (change)="onRadiusChange(2)">
          <label class="custom-control-label label">2</label>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-3"></div>
  </div>

  <label id="errorLabel" class="error-text"></label>
  <input id="btn-check" class="btn btn-info" type="button" (click)="onFormSubmit()" value="Отправить">
</form>

<form id="click_form">
  <input id="click_X" type="hidden" name="X"/>
  <input id="click_Y" type="hidden" name="Y"/>
  <input id="click_R" type="hidden" name="R"/>
</form>

<canvas id="canvas" class="center" width="705" height="705" (click)="onCanvasClick($event)"></canvas> <br>

<div *ngIf="points.length > 0">
  <table class = "table table-bordered table-striped">
    <thead>
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>Попадание</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let point of points">
        <td>{{point.x | trunc}}</td>
        <td>{{point.y | trunc}}</td>
        <td>{{point.r}}</td>
        <td>{{point.hit | yesno}}</td>
      </tr>
    </tbody>
  </table>
</div>

<form id="logout" action="http://localhost:8080/lab4_war/rest/user/logout" method="post">
  <input class="btn btn-danger" type="submit" value="Выход">
</form>
