<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row block">
        <div class="col-xs-3 col-sm-3 col-lg-3 text-center"><h2 class="small" style="margin-top: 10px">Ореховский Антон</h2></div>
        <div class="col-xs-6 col-sm-6 col-lg-6 text-center"><h2>Лабораторная работа №4</h2></div>
        <div class="col-xs-3 col-sm-3 col-lg-3 text-center"><h2 class="small">Группа Р3217<br>Вариант 18186</h2></div>
      </div>
    </div>
  <div class="col-md-2"></div>
</div>
