<div class="row">
  <!--<div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row block">
      <div class="col-4 col-sm-4 col-md-4 text-center">
        <a href="https://se.ifmo.ru/">
          <img id="VT_logo" src="img/vt_logo.png" class = "img-responsive"/>
        </a>
      </div>
      <div class="col-4 col-sm-4 col-md-4 text-center">
        <h3 class="small">2018</h3>
      </div>
      <div class="col-4 col-sm-4 col-md-4 text-center">
        <h3 class="small">Проверил:<br>Николаев В.В.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>-->
</div>
