.login-form {
  margin: 20px;
  padding: 0;
}

.link-signup{
  display: block;
  margin-top: 20px;
}

.btn {
  width: 100%;
  margin: 10px 0 10px 0;
  background: #eaeaea !important;
  border: 2px solid #183642;
  border-radius: 0 !important;
  box-shadow: black;
  color: #183642 !important;
  font-family: Helvetica;
  font-size: 1em;
}
